<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSS Feed - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo">
                    <h1>@Html.ActionLink("Rss Feed", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</h1>
                </div>
            </div>
            <div id="header-nav" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("My Feeds", "Index", "PersonalFeeds")</li>
                    }
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @*<nav id="header-nav">
            <div class="toggle-nav toggle-holder">
                <ul class="nav-list horizontal-list">
                    <li class="nav-item dropdown-item">
                        <a href="javascript:;" class="nav-link header-dropdown-link" data-toggle="dropdown">
                            <span class="cell">Rss Feed</span>
                        </a>
                        <div class="custom-dropdown">
                            <div class="container container-holder">
                                <ul class="dropdown-list row">
                                    <li class="col-md-3 col-sm-4">
                                        <a href="/about" class="nav-link">Aaaa</a>
                                    </li>
                                    <li class="col-md-3 col-sm-4">
                                        <a href="/curriculum" class="nav-link">Bb</a>
                                    </li>
                                    <li class="col-md-3 col-sm-4">
                                        <a href="/plans" class="nav-link">Cc</a>
                                    </li>
                                    <li class="col-md-3 col-sm-4">
                                        <a href="/diplomas-and-certificates" class="nav-link">Dd</a>
                                    </li>
                                    <li class="col-md-3 col-sm-4">
                                        <a href="/trainers" class="nav-link">Ee</a>
                                    </li>
                                    <li class="col-md-3 col-sm-4">
                                        <a href="/faq" class="nav-link">Ff</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Rss Feed</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
